{% extends "base.html" %}
{% block title %}Новый пароль{% endblock %}
{% block content %}
{% load user_filters %}
 {% if validlink %}
    <div class="card">
      <div class="card-header">
        Введите новый пароль
      </div>
      <div class="card-body">
        <form method="post" action="{% url 'users:password_reset_confirm' %}">
          <input type="hidden" name="csrfmiddlewaretoken" value="">
            <label for="id_new_password1">
              Новый пароль        
              <span class="required text-danger">*</span>        
            </label>    
            <input type="password" name="new_password1" class="form-control" required id="id_new_password1">      
              <small id="id_new_password1-help" class="form-text text-muted">
                <br> Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.<br>Ваш пароль должен содержать как минимум 8 символов.<br>Ваш пароль не может быть одним из широко распространённых паролей.<br>Ваш пароль не может состоять только из цифр.<br>
              </small>      
            <label for="id_new_password2">
              Подтверждение нового пароля        
              <span class="required text-danger">*</span>        
            </label>    
            <input type="password" name="new_password2" class="form-control" required id="id_new_password2">      
              <button type="submit" class="btn btn-primary"> Назначить новый пароль </button>
        </form>
      </div>
    </div>
 {% else%}
    <div class="card">
      <div class="card-header">
        Ошибка
      </div>
      <div class="card-body">
        Ссылка сброса пароля содержит ошибку или устарела.
      </div>
    </div>
  {% endif %}
{% endblock %}