{% extends 'base.html' %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
{% load user_filters %}
<br>
<br>
  <div class="card">
    <div class="category_description">
      Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
    </div>
    <div class="card-body"> 
      <form method="post" action="{% url 'users:password_reset_form' %}">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group row my-3 p-3" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                <label for="{{ field.id_for_label }}"> 
                  {{ field.label }} 
                    {% if field.field.required %}
                      <span class="required text=danger">*</span>
                    {% endif %} 
                </label>
                <div class="col-md-12">
                  {{ field|addclass:"form-control" }}
                    {% if field.help_text %}
                      <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif%}
                </div>
              </div>
            {% endfor %}
            <br>
              <button type="submit">
                Сбросить пароль
              </button>
      </form>
    </div>
  </div>
{% endblock %}