{% extends "base.html" %}
{% block title %} Персональная страница {% endblock %}
{% block content %}
<body>
    <div class="area" >
        <div class="top_container">
            <h1 class="user_title"> {{ user.username }} </h1>
            <br>
            <br>
            <a class="link" href="{% url 'quizzes:create_quiz' %}"> Создать свой тест </a>
            <a class="link" href="{% url 'users:logout' %}"> Выйти из профиля </a>
            <br>
        </div>
        <br>
        {% if results %}
            <section class="card_container">
                {% for result in results %}
                  <section class="card">
                    <h3 class="quiz_title">{{ result.quiz.title }}</h3>
                    <h4 class="quiz_result"> Процент выполнения: {{ result.result }}</h3>
                    <a class="link" href="{% url 'quizzes:single_quiz' result.quiz.id %}"> Пройти заново </a>
                    <a class="link" href="{% url 'users:delete_result' result.quiz.id %}"> Удалить результат </a>
                  </section>
                {% endfor %}
            </section>

        {% else %}
            <br>
            <p> Кажется, вы еще не прошли ни один тест </p>
        {% endif %}

        <br>
        <br>
        <br>
    </div>
</body>
{% endblock %}